body{
	width: 100%;
	margin: 0px;
}

/****************navbar**************************/

.navbar{
    text-align: center;
	justify-content: space-between;
	background-color: #212529;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 70px;
}


.iimg{
	width: 16%;
}

.nav-item{
    font-size: 16px;
    color: #fff;
}

.nav-item .nav-link:hover{
    color: #ffc800 !important;
}

.nav-link{
	position: relative;
	left: 350px;
}
.navbar-toggler{

	color: rgba(255, 255, 255, 0.55);
	border: solid 1px;
	border-color: rgba(255, 255, 255, 0.1);
	position: relative;
	top: -300px;
	left: 710px;
}

/*******************header******************************/

header{
	background-image: url(fotos/header-bg.jpg);
	background-size: cover;
    text-align: center;
    height: 710px;
    margin: auto;
}

	.text-center1{
		text-align: center;
		justify-content: space-around;
	}

	.textt{
		position: relative;
		top: 200px;
	}


	.text-uppercase{

		color: #fff;
		font-size: 30px;
		font-style: italic;
	}

	.text-index{
		color: #fff;
		font-size: 55px;
		font-weight: bold;
	}

	.dmot{
		padding: 40px;
	}

	.textf{
		width: 40%;
		padding: 25px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
		background-color: #ffc800;
		border-radius: 5px;
	}

	.textf:hover{
		color: #fff;
	}


/**************************services************************/

	#services{
		text-align: center;
		width: 100%;
	    
	}

	.icon1{
		width: 40%;
		margin: auto;
		font-size: 50px;
		border: solid 1px !important;
	    border-radius: 200px;
	    color: #fff;
	    background-color: #ffc800;
	    height: 40%;
	    padding: 30px;
	}
    .section-heading{
    	color: black;
    	font-size: 30px;
    	font-weight: bold;
    }


/********************************portfolio*******************************************/

	#portfolio{
		background-color: #e9ecef;
		text-align: center;
		width: 100%;
		margin: auto;
	}
     
	.imgtext{
		display: flex;
	}
	.bastext{
		display: flex;
	}
	.img-fluid{
		width: 90%;
		margin: auto;
	}
	.portfolio-hover{
		opacity: 0;
		background-color: #ffc800;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
	}
	.portfolio-hover:hover{
		opacity: 0.8;
		width: 90%;
		height: 76.5%;
		position: absolute;
		bottom: 120px;
		left: 21px;
	}
	.imgtext a{
		display: block;
		width: 100%;
		min-width: 320px;
		height: 100%;
		position: relative;
	}
	.bastext a{
		display: block;
		width: 100%;
		min-width: 320px;
		height: 100%;
		position: relative;
	}
	.portfolio-hover-content{
		position: absolute;
		left: 190px;
		top: 130px;
		color: #fff;
		transform: translate(-50%, -50%);
	}
	

/***************************about*******************/
	#about{
		width: 100%;
		padding: 0px;
		margin: auto;
		padding-bottom: 0px;;
	}

	.text-center4{
        text-align: center;
	}

	.section2-heading{
		font-size: 30px;
		font-weight: bold;
		color: black;
	}
	.fotos1, .fotos2, .fotos3{
		display: flex;
		position: relative;
		width: 55%;
	}

	.mes-image{
		width: 100%;
	}
	.mes-image .rounded-circle{
		width: 90%;
		padding: 0px;
		border: solid 8px #e9ecef;
		border-radius: 50% !important;
	}

   
	.fotos2{
		float: left;
		text-align: right;
		clear: both;
		flex-direction: row-reverse;
	}

	.fotos1{
		float: right;
		text-align: left;
		clear: both;
		position: relative;
		right: 33px;
	}

	.fotos3{
		position: relative;
		left: 410px;
	}
	.of{
		width: 250px;
		height: 400px;
		padding: 50px 50px;
		text-align: center;
		margin-bottom: 0px;
	}

	.mot1{
		background-color: #ffc800;
		color: white;
		width: 25%;
	}

	.lign1{
		list-style-type: none;
		position: relative;
	}
	.lign1:before{
		content: '';
		height: 76%;
		width: 1px;
		padding: 100px 0px;
		position: absolute;
		top:0;
		bottom:0;
		left: 50%;
		background-color:  gray;
	}
	.mes-body p{
		padding: 0 20px 0 101px;
	}


/***************************team***********************/

	#team{
		background-color: #f8f9fa;
		text-align: center;
		width: 100%;
		padding: 0px;
		margin: auto
	}

	.section3-heading{
		color: black;
    	font-size: 30px;
    	font-weight: bold
	}

	.rounded-circle{
		width: 60%;
		padding: 0px;
		border: solid 8px #e9ecef;
		border-radius: 50% !important;
	}
	.text-muted{
		padding: 30px;
	}

	.large{
		padding: 50px;
	}

	.btn-dark{
        color: #fff;
        border-radius: 100px;
	}


/*********************py-5*********************************/

	.py-5{
		text-align: center;
		width: 100%;
		padding: 0px;
		margin: auto
	}

	.img-brand{
		width: 70%;
	}


/*************************contact**********************/

	#contact{
		background-image: url(fotos/map-image.png);
		background-color: black;
		text-align: center;
		width: 100%;
	}

	.form-group{
		width: 100%;
		margin: auto;
		padding: 20px;

	}

	.form-control:hover{
	border-color: #ffc800 !important;
	}
    
    .invalid-feedback{
    	color: #dc3545 !important;
    	font-size: 16px;
    }

	.text-center6{
		padding: 40px;
	}

	.text-center6 h2{
		color: #fff;
	}
	.text-center6 p{
		color: #fff;
	}

	#submitButton{
		font-size: 30px;
		font-weight: bold;
		background-color: #ffc800;
	}

	#message{
		height: 260px;
	}

	#name{
		height: 60px;
	}

	#email{
		height: 60px;
	}

	#phone{
		height: 60px;
	}


/**************************footer*******************************/
	.footer py-4{
		text-align: center;
		width: 100%;
		margin: auto;
	}

	.fab{
		border-radius: 100px;
	}

	@media (max-width: 575px) {
	/*--------about------------------------------------*/
		.lign1:before{
		content: '';
		height: 80%;
		width: 1px;
		padding: 50px 0px;
		position: absolute;
		top:0;
		bottom:0;
		left: 20%;
		background-color:  gray;
		}

		.img-fluid{
			width: 200px;
		}

		.rounded-circle{
			width: 100%;
			padding: 0px;
			border: solid 5px #e9ecef;
			border-radius: 50% !important;
	}

		.fotos1{
			float: left;
			position: relative;
			left: 11%;
		}
		.of{
			position: relative;
			right: 450px;
		}
		.fotos2{
		float: left;
		flex-direction: row;
		position: relative;
		left: 10%;
		text-align: left;
	}

}

@media (max-width: 575px) {
	/*--------services------------------------------------*/
	   .icon1{
		width: 30%;
		margin: auto;
		font-size: 50px;
		border: solid 1px !important;
	    border-radius: 200px;
	    color: #fff;
	    background-color: #ffc800;
	    height: 35%;
	    padding: 30px;
	}
	}
     @media (max-width: 575px) {
	/*--------services------------------------------------*/
	   .navbar-toggler{
			color: rgba(255, 255, 255, 0.55);
			border: solid 2px;
			border-color: rgba(255, 255, 255, 0.1);
			position: relative;
			top: -300px;
			left: 500px;
}

@media (max-width: 575px) {
	/*--------porfolio------------------------------------*/
	.img-fluid{
		width: 90%;
		margin: auto;
	}
	.portfolio-hover-content{
		position: relative;
		top: -80px;
		color: #fff;
	}

	@media (max-width: 575px) {
		/*---------------team-----------------------------*/
		.rounded-circle{
			width: 60%;
			padding: 0px;
			border: solid 8px #e9ecef;
			border-radius: 50% !important;
		}

		@media (max-width: 575px) {
			/*---------------py-5-----------------------------*/
			.img-brand{
				width: 70%;
			}